/* body {
    margin: 0;
    padding: 0;
    background-color: #000;

} */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.funbtns {
    position: relative;
    text-align: center;
    width: 300px;
    padding: 20px;
    font-size: 35px;
    color: #15f4ee;
    background-color: Transparent;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid  #15f4ee ;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: pointer;
    border-radius: 25px;
    transition: 1.5s;
}



.funbtns:hover {
    box-shadow: 0 5px 50px 0 #15f4ee inset,
                 0 5px 50px 0 #15f4ee;
    text-shadow: 0 0 5px #15f4ee,
                    0 0 5px #15f4ee;
}








/* 

body {
    margin: 0;
    padding: 0;
    background-color: #000;

}

.funbtns {

    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    background-color: Transparent;

    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

.funbtns:hover {
    color: #255784;
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s ;
}

.funbtns span {
    position:absolute;
    display: block;
}


.funbtns span:nth-child(1) {
   top: 0;
   left: 0%;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg, transparent, #2196f3);
}

.funbtns span:nth-child(1) {
    left: 100%;
    transition: 1s;
  
 }


 .funbtns span:nth-child(3) {
    bottom: 0;
    right: 0%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
 }
 
 .funbtns span:nth-child(3) {
     right: 100%;
     transition: 1s;
     transition-delay: 0.5s;
   
  }


  .funbtns span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
 }
 
 .funbtns span:nth-child(2) {
     top: 100%;
     transition: 1s;
     transition-delay: 0.25s;
   
  }

  .funbtns span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
 }
 
 .funbtns span:nth-child(4) {
     bottom: 100%;
     transition: 1s;
     transition-delay: 0.75s;
   
  }  */