/* .filter-buttons {
    color: black;
}

. {
    background-color: blue;
} */


body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background-image: linear-gradient(85deg,#c4dd77,#475c07,#ed8785,#6a136b,#0f14b8,#adafed);
    /* background-image: radial-gradient(#c4dd77,#475c07,#ed8785,#6a136b,#0f14b8,#adafed); */
    background-size: 400%;
    animation: bganimation 15s infinite;
}


@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}